@font-face {
  font-family: Geometry;
  src: url('Geometry Soft Pro A Regular.ttf');
}


html{
	font-size: 16px;
}

body {
	font-family: 'Noto Sans', sans-serif;
	/*font-family: 'IBM Plex Sans', sans-serif;*/
	/*text-align: center;*/
}
nav{
	background: white;
	width: 100%;
	padding: 2em;
}
header{
	background: radial-gradient(circle, rgba(0,0,0,0)  0%, rgba(0,0,0,0.05) 200%), #e78151;
	background: ;
	/*background-size:200%;*/
	padding: 8em 0;
	border-top: 8px solid rgba(255,255,255,0.1);
}

h1, h2{
	font-family: 'IBM Plex Sans', sans-serif;
}
.bg-white {
	background-color:#007aeb;
	/*color:#;*/
}

.bg-off {
	background-color:#faf0eb;
}

header .container{
	vertical-align: center;
}

header h1{
	font-size: 4em;
}

@media screen and (max-width: 768px) {

	header h1{
		font-size: 2em;
	}
}

@media (min-width: 768px)  and (max-width: 991px) {

	header h1{
		font-size: 3em;
	}
}

header p {
	color: rgba(255,255,255,.8);
}

header h1, header h2, header h3{
	/*text-align: center;*/
	color: #fff;
}

.navbar-brand{
	font-family: 'Geometry', sans-serif;
	color: #fff;
	font-size: 2em;
	/*font-weight: 600;*/
	text-shadow: rgba(1,1,1,0.01) 2px 8px 6px;
}
.navbar-brand:hover{
	color: rgba(255,255,255,0.8);
}

h1{
	font-size: 2.5em;
	/*font-family: 'Geometry', sans-serif;*/
	/*font-weight: 600;*/
	margin: 0.5em 0;
	font-weight: 500;
	color: #1a1411;
	text-shadow: rgba(1,1,1,0.01) 2px 8px 6px;
}

h1 span{
	display: block;
	font-size: 0.4em;
	font-weight: 600;
	padding: 1.2em 0;
	font-weight: 500;
	text-transform: uppercase;
	color: #e78151;
}

p {
	color: #746c68;
	line-height: 2em;
}

section .col-md-6 p{
	max-width: 440px;
}

a {
	color: #6551e7;
	font-weight: 500;
}
a:hover{
	color: #5444c1;
}

hr{
	margin: 3em 0 1em;
}

section{
	padding: 8em 0;
}

footer{
	color: #fff;
	padding: 4em;
}

footer p{
	color: rgba(255,255,255,.8);
	line-height: 1.5em;
}

footer p span{
	color: rgba(255,255,255,.4);
	font-size: 0.8em;
}
.modal-backdrop { background-color: #746c68; }